@using MainApp.Infrastructure.Page

<div class="sidebar-header">
    <a class="sidebar-button @ViewContext.IsActive("/Index") nav" asp-page="/Index">Main page</a>
    <a class="sidebar-button @ViewContext.IsActive("/FAQ") nav" asp-page="/FAQ">Frequently asked</a>
</div>