@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="layout-spacer">
    <div class="conversation-container">
        <div class="conversation-button">A</div>
        <div class="conversation-button">B</div>
    </div>
    <div class="chatbox-container">
         
        <div class="msg-inbox">
            <div class="msg-page"
                 hx-get="/Elements/Index/_Messages?ConversationId=@Model.ConversationId"
            hx-trigger="load">
                
            </div>
        
        </div>
                
        <div class="new-msg-input">
            <input type="text" class="form-control" placeholder="Write message...">
            <span class="input-group-text">
                <i class="bi bi-send"></i>
            </span>
        </div>
                
    </div>
    
</div>