@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<!-- conversation-created is a custom event triggered by return of _NewMessage -->
<div class="layout-spacer">
    <div id="sidebar" class="sidebar">
        <partial name="/Pages/Elements/GlobalPartials/_SidebarHeaderPartial.cshtml"/>
        <div id ="conversation-container"
             class="conversation-container"
             hx-get="/Elements/Index/_Conversations"
             hx-trigger="load, conversation-created from:body">
            <!-- User will be loaded by BimodalCheckAuthentication -->
        </div>
        <div class="sidebar-footer">
            <div class="user-box">
                <i class="bi bi-person fs-2"></i>
                @if (Model.IdentityUser != null)
                {
                    <a href="/Identity/Account/Manage">Manage account</a>
                }
                else
                {
                    <a href="/Identity/Account/Login">Log in</a>
                }
            </div>
        </div>
    </div>
    <div class="chatbox-container"
         id="chatbox-container">
        
    </div>
    
</div>

<!-- Trigger for selecting the first convo in the list on load 
    And a global Anti-forgery token setup
-->
<script>
    document.body.addEventListener("htmx:afterSettle", function (e) {
        if (e.target.id === "conversation-container") {
            // document.getElementById("Conv_0").click();
            if (!!document.getElementById("Conv_Target"))
            {
                htmx.trigger("#Conv_Target", "click");
            }
            else
            {
                htmx.trigger("#Conv_0", "click");
            }
        }
    });
</script>