html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    height: 100dvh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
}

.fullheight {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

header,
footer {
    flex: 0;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.chatbox-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 80%;
    position: relative;
    float: right;
    letter-spacing: 0.5px;
}

.msg-inbox {
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.3rem;
    min-height: 0;
}

.msg-page {
    overflow-y: scroll;
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.message {
    padding: 1rem 0 0;
    flex: 1;
}


.message.received {
    display: grid;
    grid-template-columns: 1fr minmax(0, 50%);
}

.message.sent {
    display: grid;
    grid-template-columns: minmax(0, 50%) 1fr;
}


.msg-text {
    margin-left: 1rem;
}

.message.received .msg-text {
    grid-column: 1;
    justify-self: start;
}

.message.sent .msg-text {
    grid-column: 2;
    justify-self: end;
}

.msg-text > p {
    background: #414141 none repeat scroll 0 0;
    border-radius: 0.6rem;
    color: white;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

.new-msg-input {
    display: flex;
    padding: 0.1rem;
    margin: 0 0 0 0;
    
}

.time {
    color: #777;
    display: block;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}