@page
@model MainApp.Pages.Elements.Index.FAQDialogBodyPageModel
@{
    Layout = null;
}

@if(Model.IsValidIdentityUser)
{
    <form id="FAQ-submit-form"
          hx-post="/Elements/Index/_FAQDialogBody"
          hx-vals='{"conversationId" : @Model.ConversationId}'>
        @Html.AntiForgeryToken()
        <label class="form-label" for="faq-description">Please enter a short description.</label>
        <p class="text-muted">What makes this conversation useful?</p>
        <input id="faq-description"
               class="form-control"
               name="description"
               required
               maxlength="160" />
    </form>
    
}
else
{
    <h4>This content is only available to registered users...</h4>
    <h4>Please <a href="/Identity/Account/Login">log in</a> or <a href="/Identity/Account/Register">sign up</a> to proceed</h4>
}
