@page
@using MainApp.Models
@model MainApp.Pages.Elements.Index.MessagesPageModel
@{
    Layout = null;
}
<!--ATTENTION. REVERSE ORDER due to column-reverse in index.cshtml-->


<div class="msg-inbox">
    @if (Model.ConversationId == null)
    {
        <div class="msg-page"
        id="msg-page">

        </div>
    }
    else
    {
        <div class="msg-page"
             id="msg-page"
             hx-get="/Elements/Index/_MessageBatch?ConversationId=@Model.ConversationId&checkForResponse=true"
             hx-trigger="intersect root:#chatbox-container once">
        </div>
    }
</div>


@if (Model.UserType == UserType.None)
{
    <!-- Not adding ConversationId to the form, because we don't have one yet -->
    <form class="new-msg-input"
          hx-post="/Elements/Index/_NewMessage"
          hx-target="#msg-page"
          hx-swap="afterbegin"
          hx-on::after-request="this.reset()">
        @Html.AntiForgeryToken()
        <input name="Text" type="text" class="form-control" placeholder="Write message...">
        <span class="input-group-text">
            <button class="bi bi-send"></button>
        </span>
    </form>
}
else
{
    <form class="new-msg-input"
          hx-post="/Elements/Index/_NewMessage"
          hx-target="#msg-page"
          hx-swap="afterbegin"
          hx-on::after-request="this.reset()"
          hx-vals='{"ConversationId":@Model.ConversationId}'>
        @Html.AntiForgeryToken()
        <input name="Text" type="text" class="form-control" placeholder="Write message...">
        <span class="input-group-text">
            <button class="bi bi-send"></button>
        </span>
    </form>
}
