@page
@model MainApp.Pages.Elements.Index.NewConversationPageModel
@{
    Layout = null;
}

<div class="sidebar-button"
     id="Conv_Target"
     hx-get="/Elements/Index/_Messages"
     hx-target="#chatbox-container"
     hx-trigger="click">
    @Model.DummyConversation.Title
</div>